ErrorDocument 404 /

ExpiresActive On
ExpiresDefault A0

Header unset ETag
FileETag None

<FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
    Header unset Last-Modified
    ExpiresDefault "access plus 1 year"
    Header append Cache-Control "public"
</FilesMatch>

<ifModule mod_deflate.c>
    <FilesMatch "\.(html|js|css)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</ifModule>
