ErrorDocument 404 /

AddDefaultCharset UTF-8
AddType 'text/html; charset=UTF-8' html

ExpiresActive On
Header unset ETag
FileETag None

<FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
    Header set Expires "Tue, 20 Jan 2037 04:20:42 GMT"
    Header unset Cache-Control
    Header append Cache-Control "public, max-age=29030400"
</FilesMatch>


Header add Vary accept-encoding
RewriteEngine on
# resume:
RewriteRule ^resume.* /devraj_mehta_resume.pdf [L,R]

# gzip:
RewriteCond %{HTTP:accept-encoding} gzip
RewriteCond %{REQUEST_FILENAME} !\.gz$
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule (.*) $1.gz [L] 
