/* Reset
 * just the elements used - no need to go overboard 
 * adapted from http://meyerweb.com/eric/tools/css/reset/
 */
html, body, div, span, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    background: url(vsm_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body { /*
    background-image: url(bg.jpg);
    background-position: top left;
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-color: #3d476a;*/
    font-family: "Anaheim", Arial, sans-serif;
}
#card {
    background-image: none;
    background-color: #55E;
    background-color: rgba(255,255,255,0.6);
    padding: 2%;
    margin: 5%;
    min-height: 200px;
    max-width: 500px;
    clear: both;
}
#card #title {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 0.2em;
}
#card #tagline {
    text-indent: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, serif;
    line-height: 1.4em;
}
#card #prof {
    float: left;
    margin-right: 0.5em;
}
#card .section {
    font-size: 0.9em;
    text-indent: 0.5em;
    margin-top: 0.2em;
}
/* with thanks to http://spriteme.org/ */
#card .btn {
    margin: 0.3em;
    padding-left: 20px;
    background-image: url(favico_sprite.png);
    background-position: 0px 10px;
    background-repeat: no-repeat;
}
#card .linkedin {
  background-position: -10px -10px;
}
#card .gmail {
  background-position: -10px -46px;
}
#card .github {
  background-position: -10px -82px;
}
#card .googlecode {
  background-position: -10px -118px;
}
#card .jsfiddle {
  background-position: -10px -154px;
}
#card .twitter {
  background-position: -10px -190px;
}
#card .flickr {
  background-position: -10px -226px;
}
.clear {
    clear: both;
}

