<div class="card-title">
    {% image prof_thumb.jpg class="prof" alt="image of Devraj Mehta" %}
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="tagline">
      {{ site.description }}
      <a href="/resume">Resume</a>
    </div>
</div>

<div class="section">
  <a class="site linkedin" href="http://linkedin.com/in/devrajmehta">LinkedIn</a>
  <a class="site gmail" href="mailto:devm33@gmail.com">Email</a>
</div>

<div class="section">
  <a class="site github" href="https://github.com/devm33">GitHub</a>
  (<a href="https://gist.github.com/devm33">Gists</a>)
  {% comment %}
  <a class="site googlecode" href="https://code.google.com/u/devm33/">Google Code</a>
  {% endcomment %}
  <a class="site jsfiddle" href="http://jsfiddle.net/user/devm33/fiddles/">JSFiddle</a>
  <a class="site codepen" href="http://codepen.io/devm33/public-list/">CodePen</a>
</div>

<div class="section">
  <a class="site twitter" href="http://twitter.com/devm33">Twitter</a>
  <a class="site flickr" href="http://www.flickr.com/photos/devm33/">Flickr</a>
  <a class="site nofavico" href="http://lynnmehta.com">Lynn Mehta</a>
</div>
