<img class="prof" src="{{ site.s3url }}/prof_thumb.jpg"
width="110" height="142" alt="image of Devraj Mehta" />

<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

<div class="tagline"> {{ site.description }} </div>

<div>
Working at <a href="http://gtri.gatech.edu/">Georgia Tech Research Institute</a>.
</div>
<div>
Researching collaborative systems engineering through building production web
applications.
</div>

<div class="section">Connect</div>
<a class="site linkedin" href="http://linkedin.com/in/devrajmehta">LinkedIn</a>
<a class="site gmail" href="mailto:devm33@gmail.com">Email</a>

<div class="section">Code</div>
<a class="site github" href="https://github.com/devm33">GitHub</a>
(<a href="https://gist.github.com/devm33">Gists</a>)
<a class="site googlecode" href="https://code.google.com/u/devm33/">Google Code</a>
<a class="site jsfiddle" href="http://jsfiddle.net/user/devm33/fiddles/">JSFiddle</a>
<a class="site codepen" href="http://codepen.io/devm33/public-list/">CodePen</a>

<div class="section">Other</div>
<a class="site twitter" href="http://twitter.com/devm33">Twitter</a>
<a class="site flickr" href="http://www.flickr.com/photos/devm33/">Flickr</a>
<a class="site lynn" href="http://lynnmehta.com">Lynn Mehta</a>
