/**
 * Styles for the card block element
 *
 */

.card-container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;

    float: left;

    @include media-query($on-laptop) {
        width: 100%;
        margin: 0;
    }
}

.card {
    padding: 1rem;

    .title {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    .card-title {
        @extend %clearfix;
    }

    /* sectional groupings on card */
    .section {
      line-height: 2.0em;
      & > a {
        margin-right: 0.5rem;
      }
    }
}
