/**
 * Landing page specific styles
 */

body.landing {
    background: url(/images/landing/full.jpg) no-repeat center center / cover fixed #777;
    @include media-query(800px) {
      background-image: url(/images/landing/800.jpg);
    }
    @include media-query(600px) {
      background-image: url(/images/landing/600.jpg);
    }
}

@include media-query($on-laptop) {
    body.landing > .card-container:last-of-type {
        padding-bottom:500px
    }
}
