* {
  margin: 0;
}

html {
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #1976d2;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

h2 {
  font-size: 1em;
  margin: 1em 0 0 0;
}

h3 {
  font-size: 1em;
}

ul {
  padding-inline-start: 20px;
}

li {
  list-style-type: circle;
}

@media print {
  @page {
    margin: 0;
  }
}