.main {
  --header-line: 1.4; /* Match header line-height with body line-height */

  font-size: 14px;
  line-height: var(--header-line);
}

.main a,
.main a:visited {
  text-decoration: underline;
}

.main h2,
.main h3 {
  font-size: 1em;
}

.main ul,
.main li {
  margin: 0; /* Override global styles */
}

.main ul {
  padding-inline-start: 1.5em;
}

.main li {
  list-style-type: circle;
}

.section + .section {
  margin-top: 1em;
}

.title-row {
  display: flex;
  margin: 0.3em 0 0.1em;
}

.location {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

.date-range {
  color: #666;
  font-size: 0.85em;
  margin-left: auto;
  text-align: end;
}

.nowrap {
  white-space: nowrap;
}
