.main {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 49em;
  padding: 2em 0 6em 0;
}

@media only screen and (max-width: 700px) {
  .main {
    margin: 0 1em;
    padding: 1em 0;
  }
}

.main a,
.main a:visited {
  color: #1976d2;
}

.main h1 {
  font-size: 1.5em;
  letter-spacing: 0.03em;
  white-space: nowrap;
}

.main h2 {
  font-size: 1em;
  margin: 1em 0 0 0;
}

.main h3 {
  font-size: 1em;
}

.main ul {
  padding-inline-start: 1.5em;
}

.main li {
  list-style-type: circle;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-title {
  align-items: center;
  display: flex;
  gap: 1em;
}

.header-link {
  text-decoration: none;
}

.pdf-link {
  align-items: center;
  display: flex;
}

@media (hover: hover) {
  .pdf-link::after {
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
  }

  .pdf-link:hover::after {
    content: 'Open PDF';
    margin-inline-start: 0.3em;
    opacity: 1;
  }
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
  justify-content: end;
}

.contact-link {
  max-width: 30vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-row {
  display: flex;
  margin: 0.3em 0 0.1em 0;
}

.location {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

.date-range {
  color: #666;
  font-size: 0.85em;
  margin-left: auto;
  text-align: end;
}

.nowrap {
  white-space: nowrap;
}

.only-print {
  display: none;
}

@media print {
  @page {
    margin: 0;
  }

  .main {
    margin-bottom: 0;
    margin-top: 1.5em;
    padding: 0;
  }

  .no-print {
    display: none;
  }

  .only-print {
    display: unset;
  }
}