.hello-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;

  --unit: calc(1.65rem / 2); /* Override default line height. */
}

.description {
  flex-grow: 1;
}

.recent-title {
  line-height: var(--header-line);
}

.recent-header {
  display: inline;
}
