.nav-bar {
  align-items: center;
  display: flex;
  padding: 0 calc(var(--unit) / 2);
}

.nav-bar > * {
  flex: 1;
}

.title {
  font-size: var(--font-2);
  line-height: var(--header-line);
  text-align: center;
  white-space: nowrap;
}

.icon-links {
  text-align: end;
}

.icon-links > a + a {
  margin-inline-start: calc(var(--unit) / 2);
}
