.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: var(--font-2);
  line-height: var(--header-line);
  white-space: nowrap;
}

.icon-links > a + a {
  margin-inline-start: calc(var(--unit) / 2);
}
