.pill {
  align-items: center;
  border: 1px solid var(--link);
  border-radius: 0.5em;
  color: var(--link);
  display: inline-flex;
  padding: 0 0.5em;
  white-space: nowrap;
}

.pill:active,
.pill:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: white;
}

.pill > svg {
  margin-inline-start: calc(var(--unit) / 4);
}

.pill-group {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--unit) / 2);
}
