.pill {
  align-items: center;
  border-radius: 0.5em;
  border: 1px solid var(--link);
  color: var(--link);
  display: inline-flex;
  padding: 0 0.5em;
  white-space: nowrap;
}

.pill:active,
.pill:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: white;
}

.pill>svg {
  margin-inline-start: var(--quarter-space);
}

.pill-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--half-space);
}