{% extends "base.html" %}
{% import "partials/macros.html" as m %}
{% block content %}
<section class="hello-section">
  <div class="description">
    <p>Hello! I'm Devraj.</p>
    <p>You can find me on <a href="{{ site.linkedin | safe }}">LinkedIn</a> or <a href="{{ site.github | safe }}">GitHub</a>.</p>
    <p>This site contains my <a href="/resume/">resume</a> and some <a href="/projects/">projects</a>.</p>
    <p>Here is <a href="{{ site.github | safe }}/devm33.com">the source for this site</a>.</p>
    <p>See also a new hobby! <a href="https://makerworld.com/@devm33">MakerWorld</a></p>
    <p>Cheers! <br /> Devraj</p>
  </div>
  <img class="thumbnail-image" src="/images/me.jpg" alt="head shot" width="250" height="250" />
</section>
<section>
  <div class="recent-title">
    <h3 class="recent-header">Recent Projects</h3> <a href="/projects">View all</a>
  </div>
  {{ m::project_list(projects=recent) }}
  <div>Showing 3 of {{ total }} projects <a href="/projects">View all</a></div>
</section>
{% endblock %}
