/**
 * Styles for the card block element
 *
 */

.card-container {
    background-image: none;
    background-color: $background-color;
    background-color: rgba(255,255,255,0.6);

    width: 400px;
    max-width: 400px;
    margin: 1rem;

    float: left;

    @include media-query($on-laptop) {
        width: 100%;
        margin: 0 0 1rem 0;
    }
}

.card {
    padding: 1rem;

    .site-title, .title {
        letter-spacing: -1px;
    }

    .site-title {
        float: none;
        font-size: 2rem;
        line-height: 3rem;
        color: #000;
    }

    .title {
        font-size: 1.5rem;
        color: $grey-color-dark;
    }

    .tagline {
        color: $grey-color;
        @extend %clearfix;
    }

    /* container for headshot image */
    .prof {
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    /* sectional groupings on card */
    .section {
        font-size: 0.9rem;
        text-indent: 0.5rem;
        margin-top: 0.2rem;
        color: $grey-color-dark;
    }

    .site {
        margin: 0.3rem;
    }
}
