/**
 * Styles for the card block element
 *
 */

.card-container {
    background-image: none;
    background-color: transparent;

    width: 400px;
    max-width: 400px;
    margin: 1rem;

    float: left;

    @include media-query($on-laptop) {
        width: 100%;
        margin: 0;
    }
}

.card {
    padding: 1rem;

    .site-title, .title {
        letter-spacing: -1px;
    }

    .site-title {
        float: none;
        font-size: 2rem;
        line-height: 3rem;
        color: #000;
        white-space: nowrap;
    }

    .title {
        font-size: 1.5rem;
        color: $grey-color-dark;
    }

    .card-title {
        @extend %clearfix;
    }

    .tagline {
        color: $grey-color-dark;
    }

    /* sectional groupings on card */
    .section-title {
        font-size: 0.9rem;
        text-indent: 0.5rem;
        margin-top: 0.2rem;
        color: $grey-color-dark;
    }
    .section {
      line-height: 2.0em;
    }

    .site {
        margin: 0.3rem;
    }
}
