---
layout: post
---

<div class="flex">
  <ul class="category-list post-list">
    {% for post in site.categories[page.category] %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      <span class="categories">
        {{ post.categories | category_links }}
      </span>
    </li>
    {% endfor %}
  </ul>

  <ul class="category-list">
    <li><h4>All Categories</h4></li>
    {% for category in site.categories %}
      <li>
        {{category[1].size}}
        {{category[0] | category_link}}
      </li>
    {% endfor %}
  </ul>
</div>
