<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet'>
<style>
* { 
  margin: 0; 
  padding: 0; 
}
body { 
  font-family: 'Open Sans', sans-serif;
}
div.footnote {
  position: fixed;
  bottom: 3px;
  right: 15px;
  font-size: 10px;
  color: #3c3c3c;
}
.red { color: #f00; }
span { font-size: 11vw; }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>

{{ content }}

<script>
$(document).ready(function(){
	$(window).resize(function() {
		$('span').css("z-index", 1);
	});
	$('.red').mouseenter(function(){ $('.red').css('font-weight','900'); });
	$('.red').mouseleave(function(){ $('.red').css('font-weight','100'); });
});
</script>

{% include tracking.html %}

</body>
</html>
